@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $background;
  background-color: $button;
  box-shadow: $dropShadow;
  transition: all 0.3s ease;
}

.info-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  color: $background;
  background-color: $accent;
  box-shadow: $dropShadow;
  transition: all 0.3s ease;
}

.categorie-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;


    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: black;

  box-shadow: $dropShadow;
  transition: all 0.3s ease;
  margin-top: 4%;
}

.settings-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  opacity: 1;
  color: $background;
  background-color: $accent;
  box-shadow: $dropShadow;
  transition: all 0.3s ease;
}

.letter-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  opacity: 1;
  color: $background;
  background-color: $button;
  box-shadow: $dropShadow;
  transition: all 0.3s ease;
}